html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", monospace;
  color-scheme: dark;
  font-weight: 500;
  background: #1d2b64;
  background: -webkit-linear-gradient(to right, #f8cdda, #1d2b64);
  background: linear-gradient(to right, #f8cdda, #1d2b64);
}

main {
  min-height: 80vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
